<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myhomespace.zhou.mapper.KindleEbookMapper" >
  <resultMap id="KindleEbookMap" type="cn.myhomespace.zhou.po.KindleEbook" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bookName" property="bookName" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="picName" property="picName" jdbcType="VARCHAR" />

  </resultMap>

  <!--<select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.zhou.myhomespace.po.UserExample" >-->
    <!--select-->
    <!--<if test="distinct" >-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from kindleEbook-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null" >-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <select id="queryByParams" resultMap="KindleEbookMap" parameterType="java.util.Map">
    select * from kindleEbook
    kindleEbook<where>
      <if test="bookName!=null" >
        bookName = #{bookName,jdbcType=VARCHAR}
      </if>
    <if test="author!=null" >
      author = #{author,jdbcType=VARCHAR}
    </if>
    <if test="tag!=null" >
      tag = #{tag,jdbcType=VARCHAR}
    </if>
    <if test="url!=null" >
      url = #{url,jdbcType=VARCHAR}
    </if>
    <if test="type!=null" >
      type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="summary!=null" >
    summary = #{summary,jdbcType=VARCHAR}
  </if>
    <if test="summary!=null" >
      picName = #{picName,jdbcType=VARCHAR}
    </if>
    </where>
    order BY  bookName
    <if test="limit!=null" >
      LIMIT #{pstart},#{psize}
    </if>


  </select>

  <select id="queryByParam" resultMap="KindleEbookMap"  parameterType="String">
    select * from kindleEbook
    kindleEbook<where>
    <if test="_parameter!=null" >
      bookName = #{_parameter,jdbcType=VARCHAR}
    </if>
  </where>

  </select>
  <select id="queryAll" resultMap="KindleEbookMap">
    select * from kindleEbook
    <!--kindleEbook<where>-->
    <!--<if test="bookName" >-->

    <!--</if>-->
    <!--</where>-->

  </select>

  <insert id="insert" parameterType="cn.myhomespace.zhou.po.KindleEbook" >
    insert into kindleEbook (id, bookName, author,tag,url, type,summary,picName)
    values (#{id,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
      #{tag,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR})
  </insert>


  <!--<update id="updateByExampleSelective" parameterType="map" >-->
    <!--update kindleEbook-->
    <!--<set >-->
      <!--<if test="record.id != null" >-->
        <!--id = #{record.id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.username != null" >-->
        <!--username = #{record.username,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.sex != null" >-->
        <!--sex = #{record.sex,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.birthday != null" >-->
        <!--birthday = #{record.birthday,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.address != null" >-->
        <!--address = #{record.address,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->

</mapper>